<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">tannus.dev</span>
    </a>

    <ul class="nav nav-pills navbar-dark">
      <li class="nav-item"><a href="/" class="nav-link <%= page_name === 'home' ? 'active' : 'link-dark' %>" aria-current="page">Home</a>
      </li>
      <li class="nav-item"><a href="/about" class="nav-link <%= page_name === 'about' ? 'active' : 'link-dark' %>">About</a></li>
      <li class="nav-item"><a href="/projects" class="nav-link <%= page_name === 'projects' ? 'active' : 'link-dark' %>">Projects</a></li>
      <li class="nav-item"><a href="/services" class="nav-link <%= page_name === 'services' ? 'active' : 'link-dark' %>">Services</a></li>
      <li class="nav-item"><a href="/contact" class="nav-link <%= page_name === 'contact' ? 'active' : 'link-dark' %>">Contact</a></li>
      <li class="navv-item"><a href="/login" type="button" class="btn btn-light text-dark me-2">Login</a></li>
    </ul>
  </header>
</div>